/* ********** GENERAL ********** */

* {
    /* Make padding and border included in the total width and height of elements */
    box-sizing: border-box;
}

body {
    margin: 0;

    font: 24px 'Open Sans', sans-serif;
}

a {
    color: #03A9F4; /* Light Blue 500 */
    text-decoration: none;
}

h1 {
    font-size: 1.25em;
}

#root-canvas {
    min-height: 100vh;

    background-color: #F8BBD0;  /* Pink 100 */
}

/* ********** HELPERS ********** */

.hidden { display: none; }
.hidden-vis { visibility: hidden; }
.hidden-op { opacity: 0; }
.shown-op { opacity: 1; }
.hidden-vis-op { visibility: hidden; opacity: 0; }

.block { display: block; }
.inline-block { display: inline-block; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

.width-0 { width: 0; }
.width-100p { width: 100%; }
.min-width-100p { min-width: 100%; }

.micon-container { display: flex; align-items: center; }

/* ********** FONT STYLING ********** */

.text-bold { font-weight: bold; }

/* ********** COLOURS ********** */

.red { background-color: #ef5350; }  /* Red 400 */
.orange { background-color: #FFA726; }  /* Orange 400 */
.yellow { background-color: #FFEE58; }  /* Yellow 400 */
.blue { background-color: #42A5F5; }  /* Blue 400 */
.green { background-color: #66BB6A; }  /* Green 400 */
.indigo { background-color: #7986CB; }  /* Indigo 400 */
.purple { background-color: #BA68C8; }  /* Purple 400 */

/* ********** RESPONSIVE WEB DESIGN ********** */

#root {
    /* Nothing will go below 280px wide */
    min-width: 280px;
}

/* Resize texts when window is resized */
@media only screen and (max-width: 1920px) and (min-width: 1281px) {
    body {
        font-size: 1.25vw;  /* Formula = body font size e.g. 24px / max-width e.g. 768px */
    }
}

/* Texts won't go smaller than 16px */
@media only screen and (max-width: 1280px) {
    body {
        font-size: 16px;  /* Formula = min font size e.g. 16px / % above e.g. 3.125% */
    }
}

/* 688px is when our title starts to wrap to 2 lines */
