#main-canvas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 1920px;

    padding: 10px;
}

#main-canvas > div {
    width: 100%;  /* We do this to wrap the canvas' children on one line each */
}

#title {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 2em;

    text-align: center;
}

/* ********** RESPONSIVE WEB DESIGN ********** */
