#main-canvas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 10px;
}

#main-canvas > header, section {
    max-width: 960px;
    width: 100%;
}

/** ********** HEADER ********** **/

#header-canvas {
    text-align: right;
}

.nav-link {
    margin: 0 10px 0 10px;
}