#zodiac-control-canvas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#zodiac-control-canvas > div {
    width: 100%;
}

#title {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 2em;

    text-align: center;

    text-shadow: 2px 2px 2px #757575;
}

/** ********** INPUTS ********** **/

#zodiac-control-inputs {
    text-align: center;
}

#zodiac-control-inputs label {
    display: inline-flex;
    justify-content: center;
    margin: 10px 0 10px 0;
    flex-wrap: wrap;
}

#zodiac-control-inputs input {
    font: inherit;
    text-align: center;
}

.date-control#year {
    width: 4em;
}

.date-control#month, .date-control#day {
    width: 2em;
}

.date-control-desc {
    margin-top: 5px;
    width: 100%;
    font-size: .75em;
}

/* Input animation */

.date-control.flash-red {
    animation: .1s flash-red;
}

@keyframes flash-red {
    0% {
        background-color: inherit;
    }

    50% {
        background-color: #ffcdd2;  /* Red 100 */
    }

    100% {
        background-color: inherit;
    }
}

/** ********** RESULTS ********** **/

#zodiac-result {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#zodiac-result > span {
    display: block;
    width: 100%;
    text-align: center;
}

#zodiac-result-icon {
    /* Icon max res = 120x120 */
    width: 5em;
    height: 5em;
}

/* Result icon animation */

#zodiac-result-icon.spin {
    animation: 1s cubic-bezier(0, .95, .5, .95) spin;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1800deg);
    }
}