#zodiac-control-canvas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#zodiac-control-canvas > div {
    width: 100%;
}

/** ********** INPUTS ********** **/

#zodiac-control-inputs {
    text-align: center;
}

#zodiac-control-inputs input {
    font: inherit;

    text-align: center;
}

.date-control {
    margin: 0.5em;
}

.date-control#year {
    width: 4em;
}

.date-control#month {
    width: 2em;
}

.date-control#day {
    width: 2em;
}

.date-control.flash-red {
    animation: .25s flash-red;
}

@keyframes flash-red {
    0% {
        background-color: inherit;
    }

    50% {
        background-color: #ffcdd2;  /* Red 100 */
    }

    100% {
        background-color: inherit;
    }
}

/** ********** RESULTS ********** **/

#zodiac-result > span {
    display: block;

    text-align: center;
}

#zodiac-result-icon {
    /* Icon max res = 120x120 */
    width: 5em;
    height: 5em;
}

#zodiac-result-icon.spin {
    animation: 1s cubic-bezier(0, .95, .5, .95) spin;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1800deg);
    }
}